
$white: #fff;

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: green;
    color: $white;
    width: 100%;
    height: 13vh;
    @include flex-row;
    justify-content: space-between;
}

.title {
    padding-left: 1rem;
}

.button {
    border: none;
    background-color: green;
    color: #fff;
    font-size: .9rem;
    &:hover {
        cursor: pointer;
    }
}

.link-container {
    width: 15rem;
    @include flex-row;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: $white;
    &:hover {
        cursor: pointer;
    }
}