.main-container {
  background-color: #fff;
  height: 100%;
  width: 100vw;
  display: grid;
  place-content: center;
  padding-top: 20vh;
}

.topTable {
  width: 65vw;
  border-bottom: 1px solid black;
}

.link {
  text-decoration: none;
  color: rgb(48, 73, 165);
  &:hover {
    cursor: pointer;
  }
}
