

.main-container {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}

.topTable {
    width: 65vw;
    border-bottom: 1px solid black;
}

.link {
    text-decoration: none;
    color: rgb(48, 73, 165);
    &:hover {
        cursor: pointer;
    }
}

.topRow {
   
}

.business-info {
    padding-left: 0px;
}